<ng-container *ngIf="!showDetails">
    <p> {{project.name}} </p>
    <div class="buttons">
        <button [routerLink]="['/', 'projects', project.id]" mat-raised-button color="primary">
            Show details
        </button>
        <button mat-raised-button color="secondary" (click)="edit()"> 
            Edit project
        </button>
    </div>
</ng-container>


<ng-container *ngIf="showDetails">
    <h2> {{ project.name }} </h2>
    <p>{{ project.pretender }}</p>
    <p><strong> {{ project.deadline.toLocaleDateString() }} </strong></p>
    <h3>Workers:</h3>
    <ng-container *ngIf="project.workers && project.workers.length !== 0">
        <ol>
            <li *ngFor="let worker of project.workers"> {{ worker }} </li>
        </ol>
    </ng-container>
    <p *ngIf=" !project.workers || project.workers.length === 0">
        Nobody works on this project!
    </p>
</ng-container>

