<mat-toolbar color="primary">
  <button mat-icon-button color="secodary" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Fullstack Company</span>
  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Log out</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>