<h2 mat-dialog-title>Login</h2>

<form [formGroup]="form" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      required
      matInput
      type="text"
      name="name"
      formControlName="name"
    />
    <mat-error *ngIf="name.invalid">Name is required.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      required
      matInput
      type="password"
      name="password"
      formControlName="password"
    />
    <mat-error *ngIf="password.invalid">Password is required.</mat-error>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary">Login</button>
  </div>
</form>