<h2>Sites</h2>

<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let site of sites">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p> {{site.name}} </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-site
     [site]="site"
     [showDetails]="false"
     (editSite)="startEditSite($event)"
     >
    </app-site>
  </mat-expansion-panel>
</mat-accordion>

<button class="add-button" mat-fab color="primary" aria-label="Create site" (click)="startCreateSite()">
  <mat-icon>add</mat-icon>
</button>